<span class="container w-100 works_list col-md-10 float-end">
  <div class="row">
    <h4>Free sheet music for Rick Sowash's works</h4>
    <%= render partial: 'works/preamble' %>
  </div>
  <div class="row">
    <span class="col-md-6">
      <%= form_tag({:controller => "works",
                    :action => "search"},
                    :method => "get",
                    :class => "search-form") do %>
        <%= hidden_field_tag :scope, @current_scope %>
        <%= submit_tag "Search My Music", class: "slim-form" %>
        <%= text_field_tag :search_term, "",
          class: "search-term-selector slim-form" %>
      <% end %>
    </span>
    <span class="col-md-4">
      <%= form_tag({:controller => "works",
                    :action => "index"},
                    :method => "get",
                    :class => "scope-form") do %>
        <%= hidden_field_tag :sort_key, @current_sort_key %>
        <%= submit_tag "Browse My Music", class: "slim-form" %>
        <%= select_tag :scope,
          options_for_select([
            ['Recorded music only', :recorded],
            ['All music', :all]
          ], @current_scope),
          class: "scope-selector slim-form" %>
      <% end %>
    </span>
  </div>
  <% headers = sorted_column_headers(request.original_url) %>
  <div class="row">
    <div class="col-md-6">
      <h6 class="text-uppercase fw-bold">
        <%= link_to headers[:title][0],
              header_link(headers[:title], {:path => @path}),
              title: "Click here to sort by title",
              class: "sort-by-title-link" %></h6>
    </div>
    <div class="col-md-1 text-center">
      <h6 class="text-uppercase fw-bold"><%= link_to headers[:composed_in][0],
              header_link(headers[:composed_in], {:path => @path}),
              title: "Click here to sort by year of composition",
              class: "sort-by-year-link" %></h6>
    </div>
    <div class="col-md-3">
      <h6 class="text-uppercase fw-bold"><%= link_to headers[:genre_id][0],
              header_link(headers[:genre_id], {:path => @path}),
              title: "Click here to sort by instrumentation",
              class: "sort-by-genre-link" %></h6>
    </div>
  </div>
  <% @works.each_with_index do |work, index| %>
    <% row_identifier = "works_list_row_" + (index + 1).to_s %>
    <%= tag.div class: "row #{row_identifier}" do %>
      <div class="col-md-6">
        <%= link_to formatted_title(work), work_path(work),
             class: "link-opacity-25-hover link-underline link-underline-opacity-0" %>
      </div>
      <div class="col-md-1 text-center">
        <%= work.composed_in %>
      </div>
      <div class="col-md-3">
        <%= oxford_list(work.list_instruments) %>
      </div>
    <% end %>
  <% end %>
</span>
